# dependências
**/node_modules/

# relatórios de teste
allure-results/
playwright-report/
test-results/
chromedriver-mobile/

# arquivos de log e cache
*.log
.cache/
dist/
coverage/

# arquivos do sistema/macOS
.DS_Store
